version: 2
defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:8.10.0
jobs:
  prepare:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run:
          name: Install
          command: |
            yarn install --frozen-lockfile
      - run:
          name: Run tests
          command: |
            yarn validate
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - persist_to_workspace:
          root: ~/repo
          paths: node_modules
  release:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - checkout
      - run:
          name: Build
          command: |
            yarn build
      - run: npx semantic-release

workflows:
  version: 2
  prepare_and_release:
    jobs:
      - prepare
      - release:
          requires:
            - prepare
          filters:
            branches:
              only: master
