version: 2
defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10.15.0
jobs:
  prepare:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v{{ .Environment.CACHE_ID }}-dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v{{ .Environment.CACHE_ID }}-dependencies-
      - run: ./scripts/amplify-install.sh
      - run: ./scripts/write-aws-creds-file.sh
      - run:
          name: Install
          command: |
            yarn install --frozen-lockfile
      - save_cache:
          paths:
            - node_modules
            - ~/.yarn
            - ~/.config/yarn
            - ~/.amplify
            - ~/.aws
          key: v{{ .Environment.CACHE_ID }}-dependencies-{{ checksum "yarn.lock" }}
  release:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v{{ .Environment.CACHE_ID }}-dependencies-{{ checksum "yarn.lock" }}
      - run: ./scripts/amplify-init.sh -e staging -i
      - run: ~/.yarn/bin amplify publish -y --invalidateCloudFront

workflows:
  version: 2
  prepare_and_release:
    jobs:
      - prepare
      - release:
          requires:
            - prepare
          filters:
            branches:
              only: master
