version: 2
defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10.15.0
jobs:
  prepare:
    <<: *defaults
    steps:
      - checkout
      - run: echo 'export PATH=$(yarn global bin):$PATH' >> $BASH_ENV
      - run: echo $BASH_ENV
      - restore_cache:
          keys:
            - v8-dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v8-dependencies-
      - run: "if [ -e $HOME/.yarn/bin/amplify ]; then echo 'amplify already installed globally, skipping'; else yarn global add @aws-amplify/cli@^3.0.0 --prefix ~/.yarn; fi"
      - run:
          name: Install
          command: |
            yarn install --frozen-lockfile
      - run: ls ~/.cache/yarn
      - run: amplify
      - run: which amplify
      - save_cache:
          paths:
            - node_modules
            - ~/.yarn
            - ~/.config/yarn
          key: v8-dependencies-{{ checksum "yarn.lock" }}
  release:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v8-dependencies-{{ checksum "yarn.lock" }}
      - run: amplify
      - run:
          name: Build
          command: |
            yarn build
      - run: npx semantic-release

workflows:
  version: 2
  prepare_and_release:
    jobs:
      - prepare
      - release:
          requires:
            - prepare
          filters:
            branches:
              only: master
