version: 2
defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10.15.0
jobs:
  prepare:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v{{ .Environment.CACHE_ID }}-dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v{{ .Environment.CACHE_ID }}-dependencies-
      - run: ./scripts/amplify-install.sh
      - run: ./scripts/write-aws-creds-file.sh
      - run: node --version
      - run:
          name: Install
          command: |
            yarn install --frozen-lockfile
      - save_cache:
          paths:
            - node_modules
            - ~/.yarn
            - ~/.config/yarn
            - ~/.amplify
            - ~/.aws
          key: v{{ .Environment.CACHE_ID }}-dependencies-{{ checksum "yarn.lock" }}
  deploy-to-staging:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v{{ .Environment.CACHE_ID }}-dependencies-{{ checksum "yarn.lock" }}
      - run: ./scripts/amplify-init.sh -e staging -i
      - run: ~/.yarn/bin/amplify publish -y --invalidateCloudFront
  lighthouse:
    <<: *defaults
    docker:
      - image: circleci/node:latest-browsers
    steps:
      - checkout
      - restore_cache:
          keys:
            - v{{ .Environment.CACHE_ID }}-dependencies-{{ checksum "yarn.lock" }}
      - run: LIGHTHOUSE_URL=https://staging.nathanvale.dev node scripts/lighthouse.js

workflows:
  version: 2
  workflow-name:
    jobs:
      - prepare
      - deploy-to-staging:
          requires:
            - prepare
          filters:
            branches:
              ignore: master
      - lighthouse:
          requires:
            - deploy-to-staging
          filters:
            branches:
              ignore: master
